footer {
  width: 1920px;
  background-image: url(../assets/bg_footer@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 552px;
  padding: 68px 0px 43px;
}

.footer-slogan {
  font-size: 44px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #fffafc;
  line-height: 85px;
  margin-bottom: 54px;
}

.join-us {
  color: rgba(229, 137, 33, 1);
}
.footer-contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-contact {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  color: #fffafc;
  width: 390px;
}

.footer-contact > img {
  width: 67px;
  height: 67px;
  margin-right: 28px;
}

.footer-imgs {
  margin-top: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  margin-top: 34px;
  font-size: 18px;
  font-weight: 400;
  color: #999999;
  text-align: center;
}
