footer {
  background: url("../assets/footer.png") no-repeat;
  width: 1920px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  font-size: 24px;
  font-family: Heiti TC;
  font-weight: bold;
  color: #ffffff;
  line-height: 98px;
}

.copyright > img {
  margin: 0 auto;
}

.copyright > div {
  opacity: 0.4;
}
