@font-face {
  font-family: "Microsoft YaHei";
  src: url("../Microsoft-YaHei.ttf") format("woff"),
    /* Modern Browsers */ url("../Microsoft-YaHei.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
  font-family: "Microsoft YaHei";
  margin: 0;
}

.banner {
  width: 1920px;
  display: block;
}

section {
  width: 1920px;
  position: relative;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  padding-left: 360px;
}

.arrow {
  width: 39px;
  height: 39px;
  position: absolute;
  top: -19px;
  left: calc(50% - 19px);
}
