@font-face {
  font-family: "Microsoft YaHei";
  src: url("../Microsoft-YaHei.ttf") format("woff"),
    /* Modern Browsers */ url("../Microsoft-YaHei.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
  font-family: "Microsoft YaHei";
  margin: 0;
}

.banner {
  width: 1920px;
  display: block;
}

section {
  width: 1920px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
}

.arrow {
  width: 39px;
  height: 39px;
  position: absolute;
  top: -19px;
  left: calc(50% - 19px);
}

.navigator {
  position: absolute;
  right: 39px;
  z-index: 10;
}

/* 900px down */
@media only screen and (max-width: 900px) {
  .navigator {
    right: 10px;
  }
}

.close-btn {
  position: absolute;
  top: -39px;
  right: 0px;
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.navigator a {
  width: 200px;
  height: 65px;
  background: linear-gradient(0deg, #92590a, #f2d296);
  border-radius: 5px;
  font-size: 22px;
  font-weight: 400;
  color: #1c1c1e;
  display: block;
  padding: 17px 11px;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
}

.navigator a > img {
  position: absolute;
  width: 34px;
  height: 34px;
  right: 5px;
  bottom: 1px;
}

.navigator a.contact-us {
  text-align: center;
}
.navigator a.back-to-top {
  background: linear-gradient(0deg, #292b2c 0%, #616265 98%);
  box-shadow: 0px 1px 0px 0px rgba(159, 159, 159, 0.35);
  color: #f9daa3;
  text-align: center;
}

.navigator a.back-to-top > img {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 9px;
  bottom: 17px;
}

.vertical-border {
  width: 200px;
  height: 33px;
  position: relative;
}

.vertical-border > span:first-of-type {
  height: 33px;
  width: 3px;
  background: #c48b3e;
  position: absolute;
  top: 0px;
  left: 30px;
}

.vertical-border > span:last-of-type {
  height: 33px;
  width: 3px;
  background: #c48b3e;
  position: absolute;
  top: 0px;
  right: 30px;
}
