.section-1 {
  background-image: url(../assets/bg_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  line-height: 49px;
  padding: 40px 30px 99px;
}

.highlight {
  color: rgba(245, 202, 1, 1);
}

.title-1-img {
  width: 1107px;
  margin-bottom: 67px;
  padding-left: calc(50% - 553px);
  display: block;
}

.first-paragraph {
  margin-bottom: 71px;
}

.dash {
  width: 100%;
  height: 0px;
  border-bottom: 2px dashed #dedede;
  opacity: 0.4;
  margin-top: 83px;
  margin-bottom: 71px;
}

.enter-section {
  display: flex;
}

.logo-1 {
  width: 348px;
  height: 142px;
  margin-left: 47px;
  margin-right: 128px;
  margin-top: 62px;
}

.enter-btn {
  width: 606px;
  height: 84px;
  background: url(../assets/btn_mcai@2x.png);
  background-size: cover;
  border: none;
  margin-top: 54px;
  font-size: 32px;
  color: #000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
